extends layout
block content    
    div.profile
        div.item 
            img(src="/images/bookIcon.jpg", alt="Your picture")
            p Your nickname
        div.profilebooks
            p your books: 
            p each book goes in here
            p info for loan expiry and buttons for return and loan extension
    div 
        
