extends layout
block append head 
    script(src="/javascripts/deleteUserDialog.js" defer) 
block content    
    div.flex-container
        div.profile
            div.item
                img(src="/images/bookIcon.jpg", alt="Your picture")
                p #{user.username}
            div.profileinfo 
                a.btn.btn-primary(href='/user/settings') Profile settings
            //- div
            //-     button.btn.btn-primary edit profile
        div.profilebooks
            h3 your books: 
            ul
                if(loanedBooks)    
                    each bookinstance in loanedBooks
                        li 
                            p #{bookinstance.book.title}
                            p #{bookinstance.due_back_formatted}
                            a(href=bookinstance.url+'/return') Return book 
                            hr