extends layout 
block append sidebar 
    if(user.role === '2')
        hr
        ul.sidebar-nav
            li
                a(href='/catalog/author/create') Create new author
            li
                a(href='/catalog/genre/create') Create new genre
            li
                a(href='/catalog/book/create') Create new book
            li
                a(href='/catalog/bookInstance/create') Create new book copy
block content 
    h2 #{user.username}
    p Books loaned: 
    hr
    ul
        if(loanedBooks)    
            each bookinstance in loanedBooks
                li 
                    p #{bookinstance.book.title}
                    p #{bookinstance.due_back_formatted}
                    a(href=bookinstance.url+'/return') Return book 
                    hr