extends layout 

block content 
    h2 #{username}
    p Books loaned: 
    hr
    ul
        each bookinstance in loanedBooks
            li 
                p #{bookinstance.book.title}
                p #{bookinstance.due_back_formatted}
                a(href=bookinstance.url+'/return') Return book 
                hr